body{
    background-color: beige;
}
h1,h2{
    font-family: georgia;
    text-align: center;
}
nav{
    text-align: center;
    
}
a:hover{
    color:purple;
}
hr{
    height: 2px;
    background-color: black;
    border-color: black;
}
footer{
    text-align: center;
}
h3{
    text-align: center;
}
figcaption{
    text-align: center;
}
img{
    align-items: center;
    border-radius: 50px;
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}