body{
    background-color: beige;
}
h1,h2{
    font-family: georgia;
    text-align: center;
}
nav{
    text-align: center;
    
}
a:hover{
    color:purple;
}
hr{
    height: 2px;
    background-color: black;
    border-color: black;
}
footer{
    text-align: center;
}
h3{
    text-align: center;
}
figcaption{
    text-align: center;
}
img:not(.validator){
    align-items: center;
    border-radius: 50px;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#currentDate{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
#nameForm, #favNum{
    font-size: x-large;
    margin: 2em;
    text-align: center;
}
.extraButtons{
    text-align: center;
    margin: 2em;
}
.extraButtons button{
    padding: 1em;;
    background-color: lightblue;

}
#byoForm{
    margin-left: 3em;
}
#byoForm label{
    display: block;
    font-size: large;
    font-weight: bold;
    margin-top: .5em;
}
.hidden{
    display: none;
}
.calculator_keys {
    background-color: #e2fdff;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    
}
.calculator {
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    margin-bottom: 50px;
    border: solid;
}
.calculator_display {
    background-color: #b57edc;
    color: #fff;
    font-size: 1em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.key--operator {
  background-color: white;
}
.key--equal {
  background: #ffa9a3;
  grid-column: -2;
  grid-row: 2 / span 4;
}

@media (min-width: 576){
    body{
        margin: 10px;
    }
    img{
        max-width: 100%;
    }
    header, footer{
        text-align: center;
    }
}