body{
    background-color: beige;
}
h1,h2{
    font-family: georgia;
    text-align: center;
}
nav{
    text-align: center;
    
}
a:hover{
    color:purple;
}
hr{
    height: 2px;
    background-color: black;
    border-color: black;
}
footer{
    text-align: center;
}
h3{
    text-align: center;
}
figcaption{
    text-align: center;
}
.checkboxes{
    display: block;
    height: 1.5em;
    font-size: 1.1rem;
}
label{
    display: block;
    
}
.info{
    display: inline;
    height: 1.5em;
    font-size: 1.1rem;
}
.info label{
    margin-top: .1em;
    margin-bottom: .1em;
}
.radio-buttons{
    display: block;
    height: 1.5em;
    font-size: 1.1rem;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
.select{
    margin-bottom: 2rem;
}
.submit, .reset{
  display: inline;
  width: 30%;
  margin: 2rem 3rem 1rem 3rem;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgb(212, 212, 212);
}