<footer>
        
    <a href="https://webpages.charlotte.edu/jarciga/">My UNCC Homepage</a>
    ||
    <a href="https://github.com/jarcigam">Github Repo</a>
    ||
    <a href="http://jarcigam.github.io">Github.io Page</a>
    ||
    <a href="https://www.freecodecamp.org/jarciga">My FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/jarciga03">My CodeAcademy</a>
    ||
    <a href="https://www.linkedin.com/in/joshua-arciga-b53a95261/">My LinkedIn</a>
    <hr>
    <p>Page built by <a href="arcigaenterprises.com\index.html">Arciga Enterprises</a> © 2023</p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img class='validator' style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!" id="validation_link_html">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img class='validator'style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!" id="validation_link_css">
    </a>
    <script>document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=referer" + location.href);</script>
    <script>document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/check/referer" + location.href);</script>
</footer>